<!doctype html>
<html>

{% include('header_front.html.twig') %}

<div class="portfolio">

    <div id="filters" class="sixteen columns">
        <ul class="clearfix">
            {% for a in categories %}
                <li><a id="all" href="{{ path('afficher_categorie_front',{'id':a.id })}}" data-filter="*" >
                        <h5>{{ a.designation }} </h5>
                    </a></li>
            {% endfor %}
        </ul>
    </div></div>


</body>
</html>

