{% extends 'base.html.twig' %}

{% block title %}Modifier Abonnés{% endblock %}

{% block body %}

    {{ include('abonnee/_form.html.twig', {'button_label': 'modifier'}) }}
    <div class="container">
        <div class="row">
            <div class="col col-lg-2"> <a href="{{ path('abonnee_index') }}"><span class="btn btn-primary"><i class="fa fa-backward"></i>&nbsp; Retour</span></a></div>

            {{ include('abonnee/_delete_form.html.twig') }}


        </div>
    </div>

{% endblock %}

