{% extends 'base.html.twig' %}

{% block title %}Nouveau Abonné {% endblock %}

{% block body %}

    {{ include('abonnee/_form.html.twig') }}

    <a href="{{ path('abonnee_index') }}"><span class="btn btn-primary"><i class="fa fa-backward"></i>&nbsp; Retour</span></a>
{% endblock %}
