<!doctype html>
<html>


{% include('header_front.html.twig') %}
<!-- Portfolio Filters -->
<div class="portfolio">

    <div id="filters" class="sixteen columns">
        <ul class="clearfix">


        </ul>
    </div></div>
<!--/Portfolio Filters -->

{% block body %}{% endblock %}

    <div class="portfolio_btm"></div>


    <div id="project_container">
        <div class="clear"></div>
        <div id="project_data"></div>
    </div>


    </section>

</div>
</section>


</body>
</html>
